USE [master]
GO
/****** Object:  Database [QuanLyPhongMay]    Script Date: 05/31/2026 1:54:57 PM ******/
CREATE DATABASE [QuanLyPhongMay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyPhongMay', FILENAME = N'C:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyPhongMay_log', FILENAME = N'C:\SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QuanLyPhongMay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyPhongMay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyPhongMay]
GO
/****** Object:  Table [dbo].[BoCPU]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BoCPU](
	[maCPU] [int] IDENTITY(1,1) NOT NULL,
	[tenCPU] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCPU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ca]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ca](
	[maCa] [int] IDENTITY(1,1) NOT NULL,
	[tenCa] [nvarchar](50) NOT NULL,
	[gioBatDau] [time](7) NOT NULL,
	[gioKetThuc] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maCa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HeDieuHanh]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeDieuHanh](
	[maHDH] [int] IDENTITY(1,1) NOT NULL,
	[tenHDH] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maHDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichThucHanh]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichThucHanh](
	[maLich] [int] IDENTITY(1,1) NOT NULL,
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[maPhong] [int] NOT NULL,
	[maCa] [int] NOT NULL,
	[maLop] [int] NOT NULL,
	[ngayThucHanh] [date] NOT NULL,
	[soLuongSV] [int] NOT NULL,
	[thuTrongTuan] [tinyint] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[maLop] [int] IDENTITY(1,1) NOT NULL,
	[tenLop] [nvarchar](50) NOT NULL,
	[siSo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ManHinh]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManHinh](
	[maManHinh] [int] IDENTITY(1,1) NOT NULL,
	[tenManHinh] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[May]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[May](
	[maMay] [int] IDENTITY(1,1) NOT NULL,
	[tenMay] [nvarchar](100) NOT NULL,
	[tinhTrang] [nvarchar](50) NOT NULL,
	[maPhong] [int] NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
	[maRam] [int] NULL,
	[maCPU] [int] NULL,
	[maManHinh] [int] NULL,
	[maHDH] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[maMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[tenDangNhap] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](255) NOT NULL,
	[hoTen] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[maVaiTro] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhongMay]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhongMay](
	[maPhong] [int] IDENTITY(1,1) NOT NULL,
	[tenPhong] [nvarchar](50) NOT NULL,
	[sucChua] [int] NOT NULL,
	[trangThai] [nvarchar](50) NOT NULL,
	[createdAt] [datetime] NOT NULL,
	[updatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ram]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ram](
	[maRam] [int] IDENTITY(1,1) NOT NULL,
	[tenRam] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maRam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VaiTro]    Script Date: 05/31/2026 1:54:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VaiTro](
	[maVaiTro] [int] IDENTITY(1,1) NOT NULL,
	[tenVaiTro] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[maVaiTro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BoCPU] ON 

INSERT [dbo].[BoCPU] ([maCPU], [tenCPU]) VALUES (1, N'Intel Core i5 Gen 10')
INSERT [dbo].[BoCPU] ([maCPU], [tenCPU]) VALUES (2, N'Intel Core i7 Gen 11')
INSERT [dbo].[BoCPU] ([maCPU], [tenCPU]) VALUES (3, N'AMD Ryzen 5')
SET IDENTITY_INSERT [dbo].[BoCPU] OFF
GO
SET IDENTITY_INSERT [dbo].[Ca] ON 

INSERT [dbo].[Ca] ([maCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (1, N'Ca 1', CAST(N'07:00:00' AS Time), CAST(N'09:00:00' AS Time))
INSERT [dbo].[Ca] ([maCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (2, N'Ca 2', CAST(N'09:15:00' AS Time), CAST(N'11:15:00' AS Time))
INSERT [dbo].[Ca] ([maCa], [tenCa], [gioBatDau], [gioKetThuc]) VALUES (3, N'Ca 3', CAST(N'13:00:00' AS Time), CAST(N'15:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Ca] OFF
GO
SET IDENTITY_INSERT [dbo].[HeDieuHanh] ON 

INSERT [dbo].[HeDieuHanh] ([maHDH], [tenHDH]) VALUES (1, N'Windows 10')
INSERT [dbo].[HeDieuHanh] ([maHDH], [tenHDH]) VALUES (2, N'Windows 11')
SET IDENTITY_INSERT [dbo].[HeDieuHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[LichThucHanh] ON 

INSERT [dbo].[LichThucHanh] ([maLich], [tenDangNhap], [maPhong], [maCa], [maLop], [ngayThucHanh], [soLuongSV], [thuTrongTuan], [trangThai]) VALUES (1, N'qlpm2', 1, 1, 1, CAST(N'2026-05-11' AS Date), 38, 2, N'Đã lên lịch')
INSERT [dbo].[LichThucHanh] ([maLich], [tenDangNhap], [maPhong], [maCa], [maLop], [ngayThucHanh], [soLuongSV], [thuTrongTuan], [trangThai]) VALUES (2, N'qlpm2', 2, 2, 2, CAST(N'2026-05-11' AS Date), 42, 2, N'Đã lên lịch')
INSERT [dbo].[LichThucHanh] ([maLich], [tenDangNhap], [maPhong], [maCa], [maLop], [ngayThucHanh], [soLuongSV], [thuTrongTuan], [trangThai]) VALUES (3, N'qlpm2', 3, 3, 3, CAST(N'2026-05-12' AS Date), 35, 3, N'Đã lên lịch')
SET IDENTITY_INSERT [dbo].[LichThucHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[Lop] ON 

INSERT [dbo].[Lop] ([maLop], [tenLop], [siSo]) VALUES (1, N'CNTT01', 38)
INSERT [dbo].[Lop] ([maLop], [tenLop], [siSo]) VALUES (2, N'CNTT02', 42)
INSERT [dbo].[Lop] ([maLop], [tenLop], [siSo]) VALUES (3, N'KTPM01', 35)
SET IDENTITY_INSERT [dbo].[Lop] OFF
GO
SET IDENTITY_INSERT [dbo].[ManHinh] ON 

INSERT [dbo].[ManHinh] ([maManHinh], [tenManHinh]) VALUES (1, N'22 inch')
INSERT [dbo].[ManHinh] ([maManHinh], [tenManHinh]) VALUES (2, N'24 inch')
INSERT [dbo].[ManHinh] ([maManHinh], [tenManHinh]) VALUES (3, N'27 inch')
SET IDENTITY_INSERT [dbo].[ManHinh] OFF
GO
SET IDENTITY_INSERT [dbo].[May] ON 

INSERT [dbo].[May] ([maMay], [tenMay], [tinhTrang], [maPhong], [createdAt], [updatedAt], [maRam], [maCPU], [maManHinh], [maHDH]) VALUES (1, N'A101-PC01', N'Tốt', 1, CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[May] ([maMay], [tenMay], [tinhTrang], [maPhong], [createdAt], [updatedAt], [maRam], [maCPU], [maManHinh], [maHDH]) VALUES (2, N'A101-PC02', N'Tốt', 1, CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[May] ([maMay], [tenMay], [tinhTrang], [maPhong], [createdAt], [updatedAt], [maRam], [maCPU], [maManHinh], [maHDH]) VALUES (3, N'A101-PC03', N'Tốt', 1, CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime), 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[May] OFF
GO
INSERT [dbo].[NguoiDung] ([tenDangNhap], [matKhau], [hoTen], [email], [maVaiTro]) VALUES (N'admin2', N'$2a$11$QpZpzN1tXy/114NDcl0E5OiWgdOIJD5eYdtC3BOduljmE9X1ebfTO', N'Vũ Thảo Hiền', N'vuthaohien12345@gmail.com', 1)
INSERT [dbo].[NguoiDung] ([tenDangNhap], [matKhau], [hoTen], [email], [maVaiTro]) VALUES (N'qlpm2', N'$2a$11$E1b2yc3b/F2v4FX2B2Cqn.kQhWL36xSv6kfEeEgeHuqZK40fMxcte', N'Tín', N'vuthaohien15092005@gmail.com', 2)
GO
SET IDENTITY_INSERT [dbo].[PhongMay] ON 

INSERT [dbo].[PhongMay] ([maPhong], [tenPhong], [sucChua], [trangThai], [createdAt], [updatedAt]) VALUES (1, N'Phòng máy A101', 40, N'Hoạt động', CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime))
INSERT [dbo].[PhongMay] ([maPhong], [tenPhong], [sucChua], [trangThai], [createdAt], [updatedAt]) VALUES (2, N'Phòng máy A102', 45, N'Hoạt động', CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime))
INSERT [dbo].[PhongMay] ([maPhong], [tenPhong], [sucChua], [trangThai], [createdAt], [updatedAt]) VALUES (3, N'Phòng máy B201', 35, N'Hoạt động', CAST(N'2026-05-10T21:55:49.903' AS DateTime), CAST(N'2026-05-10T21:55:49.903' AS DateTime))
SET IDENTITY_INSERT [dbo].[PhongMay] OFF
GO
SET IDENTITY_INSERT [dbo].[Ram] ON 

INSERT [dbo].[Ram] ([maRam], [tenRam]) VALUES (1, N'8GB')
INSERT [dbo].[Ram] ([maRam], [tenRam]) VALUES (2, N'16GB')
INSERT [dbo].[Ram] ([maRam], [tenRam]) VALUES (3, N'32GB')
SET IDENTITY_INSERT [dbo].[Ram] OFF
GO
SET IDENTITY_INSERT [dbo].[VaiTro] ON 

INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro]) VALUES (1, N'Admin')
INSERT [dbo].[VaiTro] ([maVaiTro], [tenVaiTro]) VALUES (2, N'Quản lý phòng máy')
SET IDENTITY_INSERT [dbo].[VaiTro] OFF
GO
/****** Object:  Index [UQ_Lich_Phong_Ca_Ngay]    Script Date: 05/31/2026 1:54:57 PM ******/
ALTER TABLE [dbo].[LichThucHanh] ADD  CONSTRAINT [UQ_Lich_Phong_Ca_Ngay] UNIQUE NONCLUSTERED 
(
	[maPhong] ASC,
	[maCa] ASC,
	[ngayThucHanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__AB6E6164728834F4]    Script Date: 05/31/2026 1:54:57 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[May] ADD  DEFAULT (N'Tốt') FOR [tinhTrang]
GO
ALTER TABLE [dbo].[May] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[May] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[PhongMay] ADD  DEFAULT (N'Hoạt động') FOR [trangThai]
GO
ALTER TABLE [dbo].[PhongMay] ADD  DEFAULT (getdate()) FOR [createdAt]
GO
ALTER TABLE [dbo].[PhongMay] ADD  DEFAULT (getdate()) FOR [updatedAt]
GO
ALTER TABLE [dbo].[LichThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_Lich_Ca] FOREIGN KEY([maCa])
REFERENCES [dbo].[Ca] ([maCa])
GO
ALTER TABLE [dbo].[LichThucHanh] CHECK CONSTRAINT [FK_Lich_Ca]
GO
ALTER TABLE [dbo].[LichThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_Lich_Lop] FOREIGN KEY([maLop])
REFERENCES [dbo].[Lop] ([maLop])
GO
ALTER TABLE [dbo].[LichThucHanh] CHECK CONSTRAINT [FK_Lich_Lop]
GO
ALTER TABLE [dbo].[LichThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_Lich_NguoiDung] FOREIGN KEY([tenDangNhap])
REFERENCES [dbo].[NguoiDung] ([tenDangNhap])
GO
ALTER TABLE [dbo].[LichThucHanh] CHECK CONSTRAINT [FK_Lich_NguoiDung]
GO
ALTER TABLE [dbo].[LichThucHanh]  WITH CHECK ADD  CONSTRAINT [FK_Lich_PhongMay] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongMay] ([maPhong])
GO
ALTER TABLE [dbo].[LichThucHanh] CHECK CONSTRAINT [FK_Lich_PhongMay]
GO
ALTER TABLE [dbo].[May]  WITH CHECK ADD  CONSTRAINT [FK_May_CPU] FOREIGN KEY([maCPU])
REFERENCES [dbo].[BoCPU] ([maCPU])
GO
ALTER TABLE [dbo].[May] CHECK CONSTRAINT [FK_May_CPU]
GO
ALTER TABLE [dbo].[May]  WITH CHECK ADD  CONSTRAINT [FK_May_HDH] FOREIGN KEY([maHDH])
REFERENCES [dbo].[HeDieuHanh] ([maHDH])
GO
ALTER TABLE [dbo].[May] CHECK CONSTRAINT [FK_May_HDH]
GO
ALTER TABLE [dbo].[May]  WITH CHECK ADD  CONSTRAINT [FK_May_ManHinh] FOREIGN KEY([maManHinh])
REFERENCES [dbo].[ManHinh] ([maManHinh])
GO
ALTER TABLE [dbo].[May] CHECK CONSTRAINT [FK_May_ManHinh]
GO
ALTER TABLE [dbo].[May]  WITH CHECK ADD  CONSTRAINT [FK_May_PhongMay] FOREIGN KEY([maPhong])
REFERENCES [dbo].[PhongMay] ([maPhong])
GO
ALTER TABLE [dbo].[May] CHECK CONSTRAINT [FK_May_PhongMay]
GO
ALTER TABLE [dbo].[May]  WITH CHECK ADD  CONSTRAINT [FK_May_Ram] FOREIGN KEY([maRam])
REFERENCES [dbo].[Ram] ([maRam])
GO
ALTER TABLE [dbo].[May] CHECK CONSTRAINT [FK_May_Ram]
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD  CONSTRAINT [FK_NguoiDung_VaiTro] FOREIGN KEY([maVaiTro])
REFERENCES [dbo].[VaiTro] ([maVaiTro])
GO
ALTER TABLE [dbo].[NguoiDung] CHECK CONSTRAINT [FK_NguoiDung_VaiTro]
GO
USE [master]
GO
